<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    
    <div class="form-group" [ngClass]="{'has-error':formErrors.fullName}">
        Full Name:<input type="text" class="form-control" formControlName="fullName"
                    (blur)="logValidationErrors()">
        
        <span class="help-block" *ngIf="formErrors.fullName">
            {{formErrors.fullName}}
        </span>    

    </div>

    <div class="form-group">   
        Contact Preference:&nbsp;
                    <input type="radio" formControlName="contactPreference" 
                     value="email" 
                    ><b>Email</b>
                    <input type="radio" formControlName="contactPreference" 
                    value="phone"
                    ><b>Phone</b>
        
        </div> 


    <div formGroupName="emailGroup">

    

        <div class="form-group" [ngClass]="{'has-error':formErrors.email}">

            Email:<input type="text" class="form-control" formControlName="email"
                    (blur)="logValidationErrors()">
            <span class="help-box" *ngIf="formErrors.email">
                {{formErrors.email}}
            </span>  

        </div>

        <div class="form-group" [ngClass]="{'has-error':formErrors.confirmEmail || formErrors.emailGroup}">

            Confirm Email:<input type="text" class="form-control" formControlName="confirmEmail"
                    (blur)="logValidationErrors()">
            <span class="help-box" *ngIf="formErrors.confirmEmail || formErrors.emailGroup">
                {{formErrors.confirmEmail ?formErrors.confirmEmail :formErrors.emailGroup}}
                
            </span>  

        </div>
    </div>
    <div class="form-group" [ngClass]="{'has-error':formErrors.phone}">

        Phone No:<input type="text" class="form-control" formControlName="phone"
                (blur)="logValidationErrors()">
        <span class="help-box" *ngIf="formErrors.phone">
            {{formErrors.phone}}
        </span>  

    </div>



    <div formGroupName="skills">
        
        Skill:
            <div class="form-group" [ngClass]="{'has-error':formErrors.skillName}">
            <input type="text" class="form-control" placeholder="Name of Skill" formControlName="skillName"
                (blur)="logValidationErrors()">
            <span class="help-box" *ngIf="formErrors.skillName">
                {{formErrors.skillName}}
            </span>  
            </div> 
            
            <div class="form-group" [ngClass]="{'has-error':formErrors.exp}">
                <input type="text" class="form-control" placeholder="Experience in years" formControlName="exp"
                (blur)="logValidationErrors()">
                <span class="help-box" *ngIf="formErrors.exp">
                    {{formErrors.exp}}
                </span>  
            </div>
        <br>

        <div class="form-group" [ngClass]="{'has-error':formErrors.prof}">   
        Proficiency:&nbsp;
                    <input type="radio" formControlName="prof" value="beginner" 
                    (blur)="logValidationErrors()"><b>beginner</b>
                    <input type="radio" formControlName="prof" value="intermediate"
                    (blur)="logValidationErrors()"><b>intermediate</b>
                    <input type="radio" formControlName="prof" value="advanced"
                    (blur)="logValidationErrors()"><b>advanced</b>
            <span class="help-box" *ngIf="formErrors.prof">
                    {{formErrors.prof}}
            </span> 
        </div>             
    </div>
    
    <br><br>
    <div class="panel-footer">
        <button class="btn btn-primary" type="submit">Save</button>
        <button class="btn btn-primary" type="button" (click)="onLoad()">Load</button>
        <button class="btn btn-primary" type="button" (click)="disableFormControlMethod()">Disable FormControls</button>
        <button class="btn btn-primary" type="button" (click)="disableFormGroupMethod()">Disable FormGroup</button>
        <button class="btn btn-primary" type="button" (click)="disableAllFormsMethod()">Disable All Forms</button>
        <button class="btn btn-primary" type="button" (click)="printKeyValue()">Print keyvalue</button>
        <button class="btn btn-primary" type="button" (click)="markAsDirtyAllMethod()">Mark dirty</button>
        <button class="btn btn-primary" type="button" (click)="onValidationClick()">Log validate</button>
    </div>
    
    </form>
    
    
    
 <table>
        <tr>
           <th>FormGroup</th>
           <th>FormControl(fullName)</th> 
        </tr>
        <tr>
            <td>
                touched:{{employeeForm.touched}}<br>
                dirty:{{employeeForm.dirty}}<br>
                valid:{{employeeForm.valid}}<br>
                Form Values:{{employeeForm.value | json}}
            </td>
            <td>
                touched:{{employeeForm.controls.fullName.touched}}<br>
                dirty:{{employeeForm.controls.fullName.dirty}}<br>
                <!-- pristine:{{employeeForm.controls.fullName.pristine}}<br> -->
                valid:{{employeeForm.controls.fullName.valid}}<br>
                Form Values:{{employeeForm.controls.fullName.value | json}}
            </td>
        </tr>
    </table> 
    